/workshops/FP02_controlStatement/nbproject/private/
/workshops/FP02_controlStatement/build/
/workshops/unit1/WS03operators/BasicOperations/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations/build/
/assignments/unit1/HW02/HW02/nbproject/private/
/assignments/unit1/HW02/HW02/build/
/assignments/unit1/HW02/HW02_SHORT/nbproject/private/
/assignments/unit1/HW02/HW02_SHORT/build/
/assignments/unit1/HW02/HW02_FLOAT/nbproject/private/
/assignments/unit1/HW02/HW02_FLOAT/build/
/assignments/unit1/HW02/HW02_INT/nbproject/private/
/workshops/unit1/WS04_LogicalOperators/WS04_LogicalOperators/nbproject/private/
/workshops/unit1/WS04_LogicalOperators/WS04_LogicalOperators/build/
/workshops/unit1/WS04_LogicalOperators/HW04_LogicalOperators/nbproject/private/
/workshops/unit1/WS04_LogicalOperators/HW04_LogicalOperators/build/
/workshops/unit1/WS05Iterations/nbproject/private/
/workshops/unit1/WS05_Iterations/nbproject/private/
/workshops/unit1/WS05_Iterations/build/
/assignments/unit1/HW03Iterations/nbproject/private/
/assignments/unit1/HW03Iterations/build/
/assignments/unit1/WS03Iterations/nbproject/private/
/assignments/unit1/WS03Iterations/build/
/workshops/unit1/HW07Menus/nbproject/private/
/workshops/unit1/HW07Menus/build/
/assignments/unit1/HW04Menus/nbproject/private/
/assignments/unit1/HW04Menus/build/
/Exams/Unit1/QuilcaEvelynQ11/nbproject/private/
/Exams/Unit1/QuilcaEvelynQ11/build/
/Exams/Unit1/QuilcaEvelynQ11_1/nbproject/private/
/Exams/Unit1/QuilcaEvelynQ11_1/build/
/wor/Proyect/nbproject/private/
/wor/Proyect/build/
/wor/project_distance/nbproject/private/
/wor/project_distance/build/
/wor/projectDistance/nbproject/private/
/wor/projectDistance/build/
/Project/Project/nbproject/private/
/Project/Project/build/
/Exams/Unit1/ExamQ11Solution/nbproject/private/
/Exams/Unit1/ExamQ11Solution/build/
/workshops/unit2/WS08debugging/nbproject/private/
/workshops/unit2/WS08debugging/build/
/assignments/unit2/HW05FactorialNumber/nbproject/private/
/assignments/unit2/HW05FactorialNumber/build/
/assignments/unit2/HW08FactorialNumber/nbproject/private/
/assignments/unit2/HW08FactorialNumber/build/
/assignments/unit2/HW09EmbeddedStructures/nbproject/private/
/assignments/unit2/HW09EmbeddedStructures/build/
/assignments/unit2/HW09_EmbeddedStructrures/nbproject/private/
/assignments/unit2/HW09_EmbeddedStructrures/build/
/assignments/unit2/HW09-EmbeddedStructures/nbproject/private/
/assignments/unit2/HW09-EmbeddedStructures/build/
/workshops/unit2/WS10Functions/nbproject/private/
/workshops/unit2/WS10Functions/build/
/assignments/unit2/HW10Functions/nbproject/private/
/assignments/unit2/HW10Functions/build/
/assignments/unit2/HW10_Functions/nbproject/private/
/assignments/unit2/HW10_Functions/build/
/workshops/unit2/WS11FunctionsandRecursion/nbproject/private/
/workshops/unit2/WS11FunctionsandRecursion/build/
/workshops/unit2/WS11FuctionsandRecursion/WS11Recursion/nbproject/private/
/workshops/unit2/WS11FuctionsandRecursion/HW11Fuctions/nbproject/private/
/workshops/unit2/WS11FuctionsandRecursion/HW11Fuctions/build/
/workshops/unit2/WS11FuctionsandRecursion/WS11Recursion/build/
/workshops/unit2/WS11FuctionsandRecursion/WS11Fuctions/nbproject/private/
/workshops/unit2/WS11FuctionsandRecursion/WS11Fuctions/build/
/workshops/unit2/WS11FuctionsandRecursion/WS11Return/nbproject/private/
/workshops/unit2/WS11FuctionsandRecursion/WS11Return/build/
/assignments/unit2/HW11Recursion/HW11RecursionExample/nbproject/private/
/assignments/unit2/HW11Recursion/HW11RecursionExample/build/
/assignments/unit2/HW11Recursion/HW11Example/nbproject/private/
/assignments/unit2/HW11Recursion/HW11Example/build/
/assignments/unit2/HW11Recurrsion/nbproject/private/
/assignments/unit2/HW11Recurrsion/build/
/assignments/unit2/HW11Recursiion/nbproject/private/
/assignments/unit2/HW11Recursiion/build/
/assignments/unit2/HW11Recursiion/HW11RecursionExample/nbproject/private/
/assignments/unit2/HW11Recursiion/HW11RecursionExample/build/
/assignments/unit2/HW11RecursionExample/nbproject/private/
/assignments/unit2/HW11RecursionExample/build/
/assignments/unit2/HW11RecursiionExample/nbproject/private/
/assignments/unit2/HW11RecursiionExample/build/
/workshops/unit2/WS12Libraries/nbproject/private/
/workshops/unit2/WS12Libraries/build/
/assignments/unit2/HW12Taxes/nbproject/private/
/assignments/unit2/HW12Taxes/build/
/assignments/unit2/HW12-Taxes/nbproject/private/
/assignments/unit2/HW12-Taxes/build/
/assignments/unit2/HW12-Taxes/dist/
/workshops/unit2/WS13Task/nbproject/private/
/workshops/unit2/WS13Task/build/
