/Exams/Unit2/QuilcaEQ11.java/QuilcaEQ11/build/
/workshops/unit3/WS19ArrayInspection/QuishpeT11/nbproject/private/
/workshops/unit3/WS19ArrayInspection/QuishpeT11/build/
/workshops/unit3/WS19ArrayInspection/WS19QuishpeTania/nbproject/private/
/workshops/unit3/WS19ArrayInspection/WS19QuishpeTania/build/
