/workshops/FP02_controlStatement/nbproject/private/
/workshops/FP02_controlStatement/build/
/workshops/unit1/WS03operators/BasicOperations/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations/build/
/assignments/unit1/HW02/HW02/nbproject/private/
/assignments/unit1/HW02/HW02/build/
/assignments/unit1/HW02/HW02_SHORT/nbproject/private/
/assignments/unit1/HW02/HW02_SHORT/build/
/assignments/unit1/HW02/HW02_FLOAT/nbproject/private/
/assignments/unit1/HW02/HW02_FLOAT/build/
/assignments/unit1/HW02/HW02_INT/nbproject/private/
/workshops/unit1/WS04_LogicalOperators/WS04_LogicalOperators/nbproject/private/
/workshops/unit1/WS04_LogicalOperators/WS04_LogicalOperators/build/
